p{
    display: block;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
h1{
    color:green;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
}

