{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">

</head>

<body class= "pic" background="{% static 'trt.jpg' %}">
<center>
<form method="post" action="{% url 'ch_p11' %}">
    {% csrf_token %}
    <div class="container">
    <h1>Change password</h1>
    <hr>
    <label><b>Old password</b></label><br><br>
    <input type="text" name="pssw_old" value="{{th.Password}}" required><br><br>
    <label><b>New password</b></label><br><br>
    <input type="password" placeholder="Enter new password" name="pssw" required><br>

    <input type="hidden"  name="em" value="{{th.Email}}">
    <input type="hidden"  name="usr" value="{{th.User_role}}">
    <input type="hidden"  name="nam" value="{{th.First_name}}">
    <hr>
    <button type="submit" class="registerbtn">Submit</button><br>
    <button type="reset" class="registerbtn">Cancel</button>
  </div>

</form>
</center>
</body>
<div align="center">
