{% load static %}

<html lang="en">
<head>
   <style>
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      th, td {
      padding: 15px;
      }
   </style>
    <meta charset="UTF-8">
    <title>Exam notification</title>
   <link rel="stylesheet" type="text/css" href="{% static 'trt.css' %}">
</head>
<body class= "pic" background="{% static 'login.jpg' %}" >
<h3 align="center">EXAM NOTIFICATION</h3>
<div style="color:blue;" align="center">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>
<div align="center">
    <h3>
        Your exam schedule
    </h3>
    {% for t in kk %}
    {{t}}<br><br>
    {% endfor %}
</div>
<div align="center">
   <button type="submit" onclick="location.href='{% url 'student_home' %}'" name='mybtn2'>Back</button>
</div>

</body>
</html>

